p {
  color: blue;
}

.container {
  width: 200px;
  height: 100px;
  background-color: red;
}

.first-box-container {
  width: 200px;
  height: 100px;
  background-color: red;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  border-style: solid;
  border-width: 10px;
  border-color: green;
}

.second-box-container {
  width: 200px;
  height: 100px;
  background-color: yellow;
  position: relative;
  left: 250px;
  bottom: 120px;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  border-style: solid;
  border-width: 10px;
  border-color: red;
}

.third-box-container {
  width: 200px;
  height: 100px;
  background-color: green;
  position: relative;
  left: 500px;
  bottom: 240px;
  text-align: center;
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  border-style: solid;
  border-width: 10px;
  border-color: yellow;
}

